.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--dark-color);
  font-weight: 700;
  width: max-content;
}

.btn-primary span {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
